.Button{
    padding: 10px 30px;
    border-radius: 8px;
    color: #FFF;
    font-weight: bold;
    background: #5d00e1;
    border: none;
    outline: none;
    cursor: pointer;
    width: 100px;
}